.logo {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }
}
